-# - if user_signed_in?
-#   - if message.likes_user(current_user.id)
-#     = button_to message_likes_path(message.likes_count, message_id: message.id), method: :delete, id: "like-button", remote: true do
-#       = icon('fas', 'check',)
-#       = "復習済"
-#       -# = message.likes_count
-#   - else
-#     = button_to message_likes_path(message), id: "like-button", remote: true do
-#       = icon('fas', 'exclamation-triangle')
-#       = "再復習"
-# - else
-#   = icon('fas', 'hand-peace')
  -# = message.likes_count


- if Like.find_by(user_id: current_user.id, message_id: message.id)
  = link_to "/messages/#{message.id}/likes", method: :delete,remote: true do
    = icon('fas', 'check',)

- else
  = link_to "/messages/#{message.id}/likes", method: :post, remote: true do
    = icon('fas', 'exclamation-triangle')
  = message.likes.length

