.message-top
  .message-main
    .message-infomation
      .message-form
        = "Top Main"
        .message-side
          .side-title
            = "今日の天気"
            %div
              %span#weather.bold
            %div
              %span#weatherMark.bold
            %p#icon
            %div
              気温
              %span#temp.bold>
              ℃
            %div
              降水確率
              %span#humidity.bold>

        - @messages.each do |message|
          .message-header
            .message-created
              = message.created_at.strftime("%m月%d")
            .message-title
              = message.name
          .message-text
            = message.text.html_safe
            = current_user
           
    .link
      = link_to " https://twitter.com/", class: "link__twitter__btn" do
        = icon('fab', 'twitter')
      = link_to " https://youtube.com/", class: "link__youtube__btn" do
        = icon('fab', 'youtube')
      = link_to "messages/index.html", class: "link__game__btn" do
        = icon('fas', 'gamepad')

        -# .content_post{:style => "background-image: url(#{message.image});"}