.message-top
  .message-main
    .message-infomation
      .message-form
        %span
        .message-side
          .side-title
      - @messages.each do |message|
        -# .content_post{:style => "background-image: url(#{message.image});"}
        .message-header
          .message-created
            = message.created_at.strftime("%m月%d")
          .message-title
            = message.name
        .message-text
          = message.text.html_safe
          = @users.name

    .link
      = link_to " https://twitter.com/", class: "link__twitter__btn" do
        = icon('fab', 'twitter')
      = link_to " https://youtube.com/", class: "link__youtube__btn" do
        = icon('fab', 'youtube')
      = link_to "messages/index.html", class: "link__game__btn" do
        = icon('fas', 'gamepad')
