!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title KatoApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:crossorigin => "anonymous", :href => "https://use.fontawesome.com/releases/v5.8.2/css/all.css", :integrity => "sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay", :rel => "stylesheet"}/
  %header
    .header
      .header-left
        = link_to "/messages", class: "header-home" do
          = icon('fas', 'home  ')
        = link_to "/messages/new", class: "header-pen" do
          = icon('fas', 'pen  ')
      .header-right
        = link_to " https://twitter.com/", class: "link__twitter__btn" do
          = icon('fab', 'twitter')
        = link_to " https://youtube.com/", class: "link__youtube__btn" do
          = icon('fab', 'youtube')
        = link_to "messages/index.html", class: "link__game__btn" do
          = icon('fas', 'gamepad')
        = link_to "#", class: "header-btn" do
          = icon('fas', 'bars  ')

  %body
  
    = yield
    