!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title KatoApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:crossorigin => "anonymous", :href => "https://use.fontawesome.com/releases/v5.8.2/css/all.css", :integrity => "sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay", :rel => "stylesheet"}/
  %header
    .header
      .header-top
        .header-left
          .foo
          %span.letter{"data-letter" => "Study App"} Study App
          = link_to "/messages", class: "header-home" do
            = icon('fas', 'home')
          = link_to "/messages/new", class: "header-pen" do
            = icon('fas', 'pen')
     

      -# - if user_signed_in?
      -#   = current_user.name
      -# = link_to "ログアウト", destroy_user_session_path, method: :delete
      -#   = icon('fas', 'sign-out-alt')
      -# - else
      -# = link_to "ログイン", new_user_session_path, class: 'post'
      -#   = icon('fas', 'sign-in-alt')
      -# = link_to "新規登録", new_user_registration_path, class: 'post'
      -#   = icon('fas', 'file-alt')
          
        -# = link_to "マイページ", "/messages/#{current_user.id}"
      .header-top
        .header-right-user
          - if user_signed_in?
            = link_to "#{current_user.name}さん", edit_user_registration_path(current_user.id), class: 'post-name'
            = link_to  "/users/sign_out", method: :delete, class: 'post-logout' do
              = icon('fas', 'sign-out-alt', "ログアウト")
          - else
            = link_to "/users/sign_in", class: 'post-login' do
              = icon('fas', 'sign-in-alt', "ログイン")
            = link_to "/users/sign_up", class: 'post-new' do
              = icon('fas', 'file-alt', "新規登録")
          = link_to " https://twitter.com/", class: "header-twitter" do
            = icon('fab', 'twitter')
          = link_to " https://youtube.com/", class: "header-youtube" do
            = icon('fab', 'youtube')
          = link_to "likes", class: "header-game" do
            = icon('fas', 'gamepad')
          = link_to "#", class: "header-bars" do
            = icon('fas', 'bars')
  %body
    = render 'layouts/notifications', class: 'notifications'
    = yield